[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"
click = "*"
hypothesis = "*"
pytest-django = "*"
pytest-pythonpath = "*"

[packages]
mysql-connector-python = "*"
lxml = "*"
requests = "*"
black = "*"
python-dateutil = "*"
redis = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
parsimonious = "*"
docxtpl = "*"
gunicorn = "*"
psycopg2 = "*"
recordlib = {path = ".",editable = true}
django-webpack-loader = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
