[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
mypy = "*"
recordlib = {path = ".",editable = true}
black = "*"
click = "*"
hypothesis = "*"

[packages]
cerberus = "*"
pyyaml = "*"
parsimonious = "*"
lxml = "*"
recordlib = {path = ".",editable = true}
requests = "*"
e1839a8 = {path = ".",editable = true}
black = "*"
python-dateutil = "*"
redis = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
