[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
v = {version = "*", editable = true}
mypy = "*"
recordlib = {path = ".", editable = true}
black = "*"

[packages]
cerberus = "*"
hypothesis = "*"
pyyaml = "*"
parsimonious = "*"
"pypdf2" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
